setuptools
Django
# music_metadata_territories>=20.7
# music_metadata_edi>=20.9b1
git+https://github.com/musicmetadata/edi#egg=music_metadata_edi
git+https://github.com/musicmetadata/territories#egg=music_metadata_territories
git+ssh://git@github.com/matijakolaric/cwr2.git#egg=music_metadata_cwr2
whitenoise
gunicorn
openpyxl
