setuptools==40.8.0
Django==3.0.7
music-metadata-territories==20.5
music-metadata-edi==19
#git+https://github.com/musicmetadata/edi#egg=music_metadata_edi
#git+ssh://github.com/matijakolaric/cwr2#egg=music_metadata_cwr2
whitenoise
gunicorn

