{% extends "base.html" %}
    {%  block content %}
        <p>
            CWR 2.x module is
            {% if not CWR2_AVAILABLE %}
                <span class="red" title="available to potential sponsors upon request">NOT</span>
            {% endif %}
            installed.
        </p>
        <p>UPLOADED DATA IS TEMPORARILY SAVED FOR PROCESSING AND DELETED AFTER THE RESPONSE IS SENT.</p>
        <form enctype="multipart/form-data" action="." method="post" class="pure-form">
            {% csrf_token %}
            <table class="pure-table">
                <thead>
                    <tr><th colspan="2">Choose a file for processing</th></tr>
                </thead>
                <tbody>
                    {{ form.as_table }}
                    <tr><td colspan="2"><input type="submit" value="Process" class="pure-button" style="width: 100%"></td></tr>
                </tbody>
            </table>
        </form>
        {% if pre %}
            <pre><code>{{ pre }}</code></pre>
        {% endif %}
        {% if table %}
            <br>
            <table class="pure-table">
                {% for row in table %}
                    <tr>
                        {% for field in row %}
                            {% if forloop.parentloop.counter0 == 0 %}
                                <th>{{ field|default:'' }}</th>
                            {% else %}
                                <td>{{ field|default:'' }}</td>
                            {% endif %}
                        {% endfor %}

                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {%  endblock %}
