<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .header {background: #d50000}
        .header * {color: white}
        .header a:hover {background: #ff5600 !important;}
        .header .pure-menu-children * {background: #d50000 !important;}
        .pure-menu-heading {text-transform: none !important}
        * {font-weight: 300 !important;}
        .main {padding: 20px; line-height: 1.6em}
        @font-face {
            font-family: 'Exo 2';
            src: url('https://dmp.matijakolaric.com/static/fonts/Exo2-VariableFont_wght.ttf') format('truetype');
            font-weight: 300;
            font-style: normal;
        }
        h1, h2, h3, h4, h5, h6, .home-menu, em {
            font-family: "Exo 2", sans-serif;
            font-weight: 300;
        }
        em {font-size: 1.1em}
        .home-menu {font-size: 1.2em}
        .main p, .main ul, .main .thumbnail {max-width: 100ex; width: 100%}
        ul {box-sizing: border-box}
        a {color: #d50000; text-decoration: none}
        .red {color: #d50000}
    </style>
</head>
<body>
<div id="layout">
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal">
            <a href="{% url 'home' %}" class="pure-menu-heading">MUSIC METADATA by Matija Kolarić</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a href="{% url 'webwrapper' %}" class="pure-menu-link">Web wrapper</a>
                </li>
                <li class="pure-menu-item">
                    <a href="{% url 'territory_list' %}" class="pure-menu-link">Territories</a>
                </li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="{% url 'edi' %}" class="pure-menu-link">EDI</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a href="{% url 'visual_validator' %}"
                                                      class="pure-menu-link">Visual Validator</a>
                        </li>
                        <li class="pure-menu-item"><a href="{% url 'edi_to_json' %}"
                                                      class="pure-menu-link">EDI to JSON</a>
                        </li>
                    </ul>
                </li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="{% url 'cwr2' %}" id="menuLink1" class="pure-menu-link">CWR 2</a>
                    {% if CWR2_AVAILABLE %}
                        <ul class="pure-menu-children">
                            <li class="pure-menu-item"><a href="{% url 'visual_validator' %}"
                                                          class="pure-menu-link">Visual Validator</a>
                            </li>
                            <li class="pure-menu-item"><a href="{% url 'edi_to_json' %}"
                                                          class="pure-menu-link">CWR 2.x to JSON</a>
                            </li>
                            <li class="pure-menu-item"><a href="{% url 'cwr_to_csv' %}"
                                                          class="pure-menu-link">CWR 2.x to CSV</a>
                            </li>
                            <li class="pure-menu-item"><a href="{% url 'cwr_to_excel' %}"
                                                          class="pure-menu-link">CWR 2.x to Excel</a>
                            </li>
                            <li class="pure-menu-item"><a href="{% url 'societylist' %}"
                                                          class="pure-menu-link">Societies in CWR 2.x</a>
                            </li>
                        </ul>
                    {% endif %}
                </li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="{% url 'cwr3' %}" id="menuLink1" class="pure-menu-link">CWR 3</a>
                    {% if CWR3_AVAILABLE %}
                        <ul class="pure-menu-children">
                            <li class="pure-menu-item"><a href="{% url 'visual_validator' %}"
                                                          class="pure-menu-link">Visual Validator</a>
                            </li>
                            <li class="pure-menu-item"><a href="{% url 'edi_to_json' %}"
                                                          class="pure-menu-link">CWR 3.x to JSON</a>
                            </li>
                            <li class="pure-menu-item"><a href="{% url 'cwr_to_csv' %}"
                                                          class="pure-menu-link">CWR 3.x to CSV</a>
                            </li>
                        </ul>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    <div class="pure-g main">
        <div class="content pure-u-1 pure-u-md-1-1">
            <h1>{{ title|default:"MUSIC METADATA by Matija Kolarić" }}</h1>
            {% block content %}
                <p><em>Music Metadata by Matija Kolarić</em> is a software library written in pure Python. </p>
                <p>It is a sponsored open-source project. Sponsors get access to features they sponsor immediately.
                As cost of development are covered, features are released as open-source (MIT license).</p>
                <h2>Open-source code repositories</h2>
                <p>Open-source code is available at
                    <a href="https://github.com/musicmetadata" target="_blank">github.com/musicmetadata</a>.</p>
                <p>At this moment, this includes:</p>
                <ul>
                    <li><a href="{% url 'webwrapper' %}">Web wrapper</a> - the site you are currently visiting,</li>
                    <li><a href="{% url 'territory_list' %}">Territories</a> - features related to territory calculations, 1 demo,</li>
                    <li><a href="{% url 'edi' %}">EDI</a> - underlying format for all CWR and CRD versions, 2 demos.</li>
                </ul>
                <h2>Completed features available to sponsors</h2>
                <p>These features have been developed and thoroughly tested, and can be made available to sponsors at once:</p>
                <ul>
                    <li><a href="{% url 'cwr2' %}">CWR 2.x validation and parsing</a> -
                        Common Works Registration, versions 2.1 and 2.2</li>
                </ul>
                {% if CWR2_AVAILABLE %}
                    <p>
                        <a href="{% url 'cwr2' %}">5 demos</a> are available on this site.
                    </p>
                {% endif %}
                <h2>Features in various stages of development</h2>
                <p>These features are being actively developed and tested.</p>
                <ul>
                    <li><a href="{% url 'cwr2' %}">CWR 2.x generation (with validation)</a> -
                        Common Works Registration, versions 2.1 and 2.2 - alpha,</li>
                    <li><a href="{% url 'cwr3' %}">CWR 3.x parsing, validation and generation</a> -
                        Common Works Registration, versions 3.0 and 3.1 - half-way
                    </li>
                    <li>EBR - Electronic Batch Registration, in alpha</li>
                    <li>CRD - Common Royalty Distribution, in early stages of development</li>
                    <li>DDEX - in early stages of development, MWN, RIN and ERN will be coming out first.</li>
                </ul>
                <h2>Videos</h2>
                <p>For more information, watch
                    <a href="https://www.youtube.com/watch?v=FIRseW4woG0&list=PLQ3e-DuNTFt8No3_mw9-U8PiX8EJAq2FJ"
                       target="_blank">
                    Music Metadata - Open Source</a> videos</p>
                <p>
                    <a href="https://www.youtube.com/watch?v=FIRseW4woG0&list=PLQ3e-DuNTFt8No3_mw9-U8PiX8EJAq2FJ" target="_blank">
                        <img class="thumbnail" src="https://matijakolaric.com/media/uploads/mmos.jpg">
                    </a>
                </p>

            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>
