{% extends "base.html" %}
    {%  block content %}
        <p>
            Some of music rights are territorial, most notably in music publishing.
        </p>
        <p>
            Territory Information System (TIS) by CISAC provides a complex territorial structure to be used in
            batch registrations of musical works and subsequent royalty processing.</p>
        <p>
            This is a demo of basic territorial calculations, either by just including and excluding territories,
            or by share calculations.
        </p>
        <p>Open-source code is available at <a href="https://github.com/musicmetadata/territories" target="_blank">https://github.com/musicmetadata/territories</a>.</p>
        <p>Further development will be focused on mapping TIS and ISO territories.</p>
        <form action="." method="post" class="pure-form">
            {% csrf_token %}
            {{ formset.management_form }}
            <table class="pure-table">
                <thead>
                    <tr><th>Incl. / Excl.</th><th>Territory</th><th>Share</th></tr>
                </thead>
                <tbody>
                    {% for form in formset %}
                        <tr>
                            {% for field in form %}
                                <td>{{ field }}</td>
                            {% endfor %}
                        </tr>
                        {% if form.non_field_errors %}
                            <tr><td colspan="2">{{ form.non_field_errors }}</td></tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
                <tr><td colspan="3"><input type="submit" value="Calculate" class="pure-button" style="width: 100%"></td></tr>
            </table>
        </form>
        {% if formset.territory_list %}
            <h2>Included Territories</h2>
            <pre>{% for t, o in formset.territory_list.items %}
{{ t.tis_n|stringformat:"04s" }} - {{ t.name|stringformat:"-45s" }}: {{ o }}{% endfor %}
            </pre>
        {% endif %}
    {%  endblock %}
